<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap" rel="stylesheet"> 
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>{{title}}</title>
</head>
<body>
    <div class="content">
        <h2><a href="/">home</a></h2>
        <h1 class="main-title">{{name}}</h1>
        <h2 class="description">{{description}}</h2>
        <hr>
        <div class="note-container">
            {{contents}}
        </div>
    </div>
</body>
</html>