<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{name}}">
    <meta name="description" content="{{description}}">
    <meta name="autor" content="Deeryeen">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap" rel="stylesheet"> 
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/code-colors.css')}}">
    <title>{{title}}</title>
</head>
<body class="dark-mode-body">
    <div class="content">
        <div class="home-button shadow dark-mode-element" onclick="window.location='/'">
            <a href="/">
                <img src="{{url_for('static', filename='images/home.svg')}}" alt="Home Button">
                <h2>Home</h2>
            </a>
        </div>
        <h1 class="main-title">{{name}}</h1>
        <h2 class="description">{{description}}</h2>
        <hr>
        <div class="note-container">
            {{contents}}
        </div>
    </div>
</body>
</html>
